body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding:0;
  background-color:white;
}

body *{
  outline: none;
}

header{
 height: 40px;
 width:100vw;
  border:none;
  padding:0;
  padding-top:-1px;
  margin:0;
  margin-bottom:10px;
  font-size: 15px;
}

.btnMenu{
 width:30px;
 height:30px;
 margin:0px;
 padding:0px;
 color:rgb(40, 167, 255);
 font-size:18px;
 align-content: center;
 padding-top:-2px;

 border:none;
}

main{
  min-height: 100vh;
  min-width: 100vw;
  overflow:scroll;
  border:none;
}

textarea{
  min-width: 89vw;
  height:40px;
  font-size:12px;
  border:none;
  background-color:rgb(217, 240, 255);
  border:1px solid rgb(151, 151, 151);
  border: 1px solid rgb(40, 167, 255);
  resize: vertical;
}

.pallet{
   display:flex;
   flex-direction: row;
   height:20px;
   min-width:400px;
   background-color: rgb(118, 193, 254);
   border:1px solid rgb(180, 224, 255);
}

.submenu{
  position:absolute;
  display:flex;
  flex-direction:column;
  width:200px;
  
  margin-top:20px;
  background-color: rgb(118, 193, 254);
  
}

.submenu > ul {
  display:block;
  list-style: none;
}

.submenu > ul > li input {
  border:none;
  border-bottom: 1px solid rgb(65, 166, 255);
  background-color: rgb(118, 193, 254);
}

.submenu > ul > li input:hover{
  border-bottom:1px solid white;
  color:white;
}

.itemmenu:hover{
  background-color: rgb(83, 176, 252);
  background-color: none;
}

/** Contenedor principal de todo el editor*/
.contentEditor{
  display:flex;
}
/** Contenedor para los botones guardar / Eliminar del elemento editor*/
.contentSD{
  display:flex;
  flex-direction:column;
  height:30px;
}
/** icon SaveAndDelete dentro de contentSD*/
.icoPallet{
    width: 30px;
    margin-top:4px;
}

.icoPallet:hover{
 border-bottom: 1px solid blue;
}

/** Contenedor para los elementos del editor*/
.contentE{
  display:flex;
}

.invalid{
  display:flex;
  flex-direction: row;
  height:20px;
  min-width:400px;
  background-color: rgb(118, 193, 254);
  border:1px solid rgb(180, 224, 255);
  border:1px solid red;
}